body {
  background-color: #43394e;
  overflow-x: hidden;
}
.navBar {
  top: 0;
  width: 100vw;
  z-index: 1;
  height: 65px !important;
}
.navMenu {
  margin-top: 59px;
}
.closed {
  transition: height 300ms ease;
  height: 0px;
}
.closed .card {
  display: none;
}
.open {
  transition: height 300ms ease;
  height: 600px;
}
.open .card {
  display: block !important;
}

.font-30 {
  font-size: 30px;
}

.forecastList {
  padding: 25px;
}
.navFooter {
  width: 100vw;
  font-size: x-small;
}
.searchTermBox {
  z-index: 1000;
}
.searchOpt:hover {
  background-color: var(--bs-info);
}
/*
.row:not(:only-child) {
  background-color: yellow;
}
*/
